@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./components/flex";
@import "./components/load-page";
@import "./components/menu-effect";
@import "./layout/header";
@import "./layout/footer";
@import "./utils/breakpoints";
@import "./utils/variables";

// ********************************************************* INDEX ************************************************************//

// LOCATION
.location{
    height: 50px;
    box-shadow: 0px 8px 4px -6px $location-box-shadow inset; // bow shadow between location and header
    background-color: $background-medium;
    &__text{
        margin-left: 20px;
        font-weight: 500;
    }
}

// PRESENTATION
.presentation{
    flex-direction: column;
    padding: 35px 30px 60px 30px;
    text-align: center;
    background-color: $background-light;
    &__title{
        margin: 0 40px;
        font-weight: 800;
    }
    &__subtitle{
        font-size: 1.15rem;
        font-weight: 300;
    }
    &__button{
        margin-top: 15px;
    }
}

// OPERATION
.operation{
    padding: 30px 20px;
    &__list{
        flex-direction: column;
    }
    &__title{
        margin: 0 0 30px 8px;
        font-weight: 800;
    }
    &__section{
        position: relative;
        align-items: center;
        height: 75px;
        width: 100%;
        margin-bottom: 25px;
        border-radius: 20px;
        box-shadow: 0 8px 10px 0 $cards-box-shadow;
        background-color: $background-light;
        cursor: pointer;
        &__number{
            position: absolute; //to place the number where we want on the div
            left: -10px;
            padding: 4px 8px;
            border-radius: 30px;
            font-size: 0.8rem;
            background-color: $color-primary;
            color: white;
        }
        &__icon{
            margin-left: 35px;
            width: 30px;
            color: grey;
        }
        &__text{
            font-weight: 500;
        }
        &:hover{
            background-color: lighten($color-primary, 30%);
            transition: background-color 300ms;
        }
        &:hover i{
            color: $color-primary;
            transition: color 300ms;
        }
    }
}
/* Icons */ // Resize the icons
.fa-mobile-alt{
    font-size: 1.2rem;
}
.fa-store{
    font-size: 0.9rem;
}

// RESTAURANTS
.restaurants{
    padding: 30px 20px 45px 20px;
    background-color: $background-light;
    &__title{
        font-weight: 800;
    }
    & a{ // extend the link throughout the div
        display: block;
        height: 100%;
        width: 100%;
    }
    &__like-button{
        position: absolute;
        right: 30px;
        bottom: 25px;
    }
    &__card{
        position: relative; // to set the heart icon to absolute and place it where we want
        height: 250px;
        margin-bottom: 15px;
        border-radius: 15px;
        box-shadow: 0 8px 10px 0 $cards-box-shadow;
        background-color: white;
        &__new{
            position: absolute; // to place the "new post it" on the photo
            top: 12px;
            right: 12px;
            padding: 5px 10px;
            border-radius: 3px;
            font-size: 0.9rem;
            font-weight: 600;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 37%);
        }
        &__photo{
            height: 70%;
            & img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }
        }
        &__description{
            height: 30%;
            padding-left: 15px;
            border-radius: 0 0 15px 15px;
            &--title{
                flex-direction: column;
                justify-content: center; // to center the title vertically
            }
        }
    }
}

// ********************************************************* MENUS ************************************************************//

.bloc-page{
    position: relative;
}

// BANNER
.banner{
    position: absolute;
    z-index: -1; // to place the banner under the menu
    height: 300px;
    width: 100%;
    &__photo{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// MENU
.menu{
    position: relative; // to place the like icon where we want
    margin-top: 230px; // to make a space between the menu & the header to see the banner
    padding: 5px 5px 40px 5px;
    border-radius: 40px;
    background-color: $background-light;
    &__title{
        margin: 25px 0 15px 20px;
    }
    &__like-button{
        position: absolute;
        top: 32px;
        right: 30px;
    }
    &__category-title{
        margin-left: 5px;
        margin-bottom: 5px;
        font-size: 1rem;
        font-weight: 300;
        &--underline{
            height: 3px;
            width: 40px;
            margin-left: 5px;
            margin-bottom: 15px;
            background-color: $color-tertiary;
        }
    }
    &__list{
        padding: 0 10px;
    }
    &__button{
        margin: 30px auto;
    }

.menu-card{
        justify-content: center; 
        height: 70px;
        width: 0%;
        margin-bottom: 15px;
        overflow: hidden; // to hide check box overflow when it's reduce
        border-radius: 20px;
        box-shadow: 0 8px 10px 0 $cards-box-shadow;
        background-color: white;
        cursor: pointer;
        &__description{
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin-left: 10px;
            transition: width 1000ms; // to do transition when it gets bigger
            &__title, &__subtitle{
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &__price{
                margin-right: 20px;
                font-weight: 700;
            }
        }
        &__check{
            width: 0%;
            overflow: hidden; // to hide the check icon when the check box is reduce
            border-radius: 0 20px 20px 0;
            font-size: 1.4rem;
            color: white;
            background-color: $color-tertiary;
            transition: all 1000ms; // to do transition when it gets smaller
        }
        &:hover > .menu-card__description{
            width: 80%; // gets description smaller
            transition: all 500ms;
        }
        &:hover > .menu-card__check{
            width: 20%; // gets check box bigger
            transition: all 500ms;
        }
        &:hover .menu-card__check i{
            transform: rotate(360deg); // rotate the icon check
            transition: all 500ms;
        }
    }
}