@import "../utils/variables";

.header{
    position: relative;
    height: 62px;
    &__logo{
        font-size: 2rem;
    }
    &__arrow{
        position: absolute;
        top: 22px;
        left: 25px;
        font-size: 1.4rem;
    }
}