@import "../utils/variables";

.button{
    height: 50px;
    width: 220px;
    border-radius: 30px;
    box-shadow: 0 4px 6px 2px $button-box-shadow;
    color: white;
    background: linear-gradient($color-secondary, $color-primary);
    &:hover{
        background: linear-gradient($color-secondary, 80%, $color-primary);
        box-shadow: 0 4px 6px 6px $button-box-shadow;
    }
}

.like-button{
    font-size: 1.5rem;
    cursor: pointer;
    &--full{
        position: absolute; // to place the 2 heart icons on top of each other
        height: 0%;
        background-image: linear-gradient($color-primary, $color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        // background is limited by the edges of the icon
        transition: height 1000ms;
    }
    &--empty{
        position: absolute;
        color: black;
    }
    &__container{
        position: relative;
        height: 25px;
        width: 25px;
        &:hover > .like-button--full{
            height: 100%; // to fill the heart gradually
            transition: height 1000ms;
        }
        &:hover > .like-button--empty{
            background-image: linear-gradient($color-primary, $color-secondary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}