@keyframes card-slide{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@for $i from 1 through 4{
    .starter__card:nth-child(#{$i}){
        animation: card-slide 1500ms 400ms*$i forwards;
        // delay = 400ms * number of starter child so it allows to start in cascade
    }
    .main__card:nth-child(#{$i}){
        animation: card-slide 1500ms 400ms*$i+1200ms forwards
        // start 1200ms after the last starter__div
    }
    .dessert__card:nth-child(#{$i}){
        animation: card-slide 1500ms 400ms*$i+2400ms forwards;
        // start 1200ms after the last starter__div & 1200ms after last main__div
    }
}