$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-light: #F6F6F6 ;
$background-medium: #EAEAEA;
$background-dark: #353535;
$button-box-shadow: #BCBCBC;
$cards-box-shadow : #E5E5E5;
$location-box-shadow : #C5C5C5;